.background{
    background-image:url("images/login/Loginbackground.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin:0;
}

.btn {
    background-color:lightskyblue;
    color: white;
    margin-top: 20px;
    height: 30px;
    width:20px;
    font-size: 12px;
    float:right;
}

.form-block {
    width: 50%;
    font-size:10px;
    margin:auto;
    padding-bottom:200px;
    text-align: center;
    border-radius: 25px;
}

.form-control {
    font-size: 10px;
}

.circleMapping{
    height:150px;
    width:150px;
    border-radius:50%;
}

.form-text{
    font-size:10px;
}

.ddlsetting{
    font-size:10px;
}

.opacity {
    background-color: rgba(255,255,255,0.7);
}

.padding{
    padding-bottom:300px;
}